<!-- Footer Start -->
<footer class="container-fluid text-black py-4 mt-3" id="sticky-footer" style="text-color: #ffffff">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; Cleaner</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">devolopers 
                    <a class="border-bottom text-black" href="https://github.com/Aphian">#####</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->