{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<style>
    .inf_video_content {
        padding-top: 5rem;
        margin-left: 3rem;
    }

    .inference_vedio {
        align-items: center;
    }

    .video_content {
        width: 540px;
        height: 300px;
    }

    .vid_content {
        width: 92%;
        height: 100%;
        object-fit: cover;
        align-self: center;
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    .btn_groups{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .check_all {
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        background: #f1f3f9
    }

    .custom_check_box {
        margin-top: 7px;
    }

    .inf_head {
        margin-bottom: 1rem;
    }

    .pagination,
    .jsgrid .jsgrid-pager {
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
    }
    
    .page-link {
        color: black;
        border: none;
    }
    
    .pagination.pagination-rounded-flat .page-item {
        margin: 0 .25rem;
    }
    
    .pagination-rounded-flat { }
    
    .pagination-success .page-item.active .page-link,
    .pagination-success .page-item.active:hover .page-link,
    .pagination-success .page-item.active:focus .page-link,
    .pagination-success a.page-link:hover,
    .pagination-success a.page-link:active,
    .pagination-success a.page-link:focus {
        background-color: #00c689 !important;
        border-color: #00c689 !important;
        color: white !important;
    }
    
    .pagination.pagination-rounded-flat .page-item .page-link,
    a {
        border: none;
        border-radius: 50px;
    }
</style>

<script>
    function VideoUploadMove() {

        window.location.href = '/video';
    }

    function checkAll() {
        var checkboxes = document.querySelectorAll('.checkBox');
        var checkAllCheckbox = document.getElementById('checkAll');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = checkAllCheckbox.checked;
        }
    }

    function downloadSelectedImages() {
        var checkboxes = document.querySelectorAll('.checkBox:checked');
        
        checkboxes.forEach(function(checkbox) {
            var inference_image = "/media/inferenced_videos/" + checkbox.value; // 이미지의 URL
            var down_file_name = checkbox.value; // 추출된 파일 이름을 설정

            var a = document.createElement('a');
            a.href = inference_image;
            a.download = down_file_name;
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    }

</script>

<div class='inf_video_content'>
    <h4 class="inf_head">Load View Images</h4>
    <div class="btn_groups">
        <span class="check_all">
            <input class="form-check-input custom_check_box" type="checkbox" value="" id="checkAll" onclick="checkAll()">
        </span>
        <button class="btn btn-light" onclick="downloadZip()">All Download</button>
        <button class="btn btn-light" style="padding-end: 1rem;" onclick="downloadSelectedImages()">Download</button>
        <button class="btn btn-light" onclick="VideoUploadMove()">Back</button>
    </div>
    <div class="row" style="margin-bottom: 2rem;">
        {% for image_name in image_names %}
        <div class="video_content mt-3">
            <div class="card">
                <input class="form-check-input checkBox" style="margin-left: 1rem;" type="checkbox" value="{{ image_name }}">
                <img src="/media/inferenced_videos/{{ image_name }}" alt="{{ image_name }}" class="vid_content">
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-start">
            {% if image_names.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ image_names.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% if image_names.paginator.num_pages > 1 %}
                {% for i in image_names.paginator.page_range %}
                    {% if image_names.number == i %}
                    <li class="page-item disabled">
                        <a class="page-link">{{ i }}</a>
                    </li>
                    {% elif i > image_names.number|add:-2 and i < image_names.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if image_names.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ image_names.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>

<script>
    function downloadZip() {
        // 서버에 요청을 보내는 XMLHttpRequest 객체 생성
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/video/zip_and_download/', true);
        xhr.responseType = 'blob';  // 응답을 Blob 형식으로 받음

        xhr.onload = function() {
            // 다운로드 링크를 생성하고 클릭하여 다운로드 시작
            var blob = new Blob([xhr.response], { type: 'application/zip' });
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);

            // 서버에서 전달받은 파일 이름 사용
            var contentDisposition = xhr.getResponseHeader('Content-Disposition');
            var matches = /filename="(.+?)"/.exec(contentDisposition);
            var fileName = matches ? matches[1] : 'downloaded_files';

            link.download = fileName;
            link.click();
        };

        xhr.send();
    }
</script>
{% endblock content %}